@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

.header-container {
    background-color: #777;
}

header {
    height: 95vh;
    background-image: linear-gradient(to bottom right, rgba(69, 56, 56, 0.674), rgba(229, 152, 152, 0.566)), 
    url("../images/pexels-alexy-almond-3758056.jpg");
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
    position: relative;
}

.text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 5rem;
    letter-spacing: 1.1rem;
    color: rgb(62, 58, 58);
    animation-name: moveInLeft;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }

    80% {
        transform: translateX(20px);
    }

    90% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: rgb(48, 44, 44);
    animation-name: moveInRight;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

@keyframes moveInRight {
    0% {
        transform: translateX(300px);
        opacity: 0;
    }

    80% {
        transform: translateX(-20px);
    }

    90% {
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.btn-container {
    text-align: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    margin: 2rem;
    border: 1px solid white;
    /*border-radius: 5px;*/
    text-transform: capitalize;
    font-size: 1.6rem;
    color: white;
    transition: all 0.3s;
}

.btn:hover {
    background-color: rgba(119, 119, 119, 0.536);
    color: rgb(225, 219, 219);
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(0);
}

footer {
    text-align: center;
    padding-top: 1rem;
}

footer p {
    overflow: hidden;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}